@import "fonts.sass"

@import "variables.sass"

html,
body
  box-sizing: border-box

*,
*::before,
*::after
  box-sizing: inherit

h1,
h2,
h3,
h4,
h6,
ul,
p,
fieldset,
dl,
dd
  margin: 0
  padding: 0

fieldset
  border: none

p
  margin-bottom: 10px

ul
  list-style-type: none

a
  text-decoration: none

picture
  display: block

img
  width: 100%
  height: auto
  vertical-align: top

body
  font: #{$f_size}/#{$line_height} poppinsregular, $f_family_default
  color: $color_default
  background-color: $bg_color_default

  &.overflow-hid
    overflow: hidden

[class*="-container"]
  width: 100%
  max-width: $max_width
  padding: 0 10px
  margin: 0 auto

[class*="-row"]
  margin: 0 -10px

.page-section
  margin-bottom: 20px

.vertical-line
  position: relative
  height: 50px
  margin: 10px 0 30px

  &::after
    content: ""
    @include vertical_line

/* Header */
.header
  $color_header_shadow: #ccc
  position: fixed
  top: 0
  right: 0
  left: 0
  z-index: 11
  background-color: $bg_color_default
  padding-top: 8px
  padding-bottom: 8px
  transition: all .25s

  &.header-shadow
    box-shadow: 0 1px 3px $color_header_shadow
    padding-top: 0
    padding-bottom: 0

  & .block-content
    @include flex_row_wrap
    @include flex_s_between

.block-content
  padding: 10px

.header-logo
  width: 16px
  height: auto
  display: block

.header-navigation
  display: flex
  align-self: center

.nav-btn
  width: 40px
  height: 30px
  display: block
  background-image: repeating-linear-gradient($nav_btn_line, $nav_btn_line 4px, transparent 4px, transparent 12px)
  position: relative
  z-index: 1

.nav-list
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 150%
  text-align: center
  padding-top: 60px
  background-color: rgba(255, 255, 255, .9)
  transition: all .4s

  &.active
    left: 0

.nav-list-link
  font-family: poppinsregular, $f_family_default
  font-size: 10px
  text-transform: uppercase
  color: #0b0c11
  letter-spacing: $letter_spacing
  display: block
  padding: 10px 20px

/* Main */
main
  padding-top: 70px

/* Banner */
.banner-carousel
  padding-bottom: 5px

.banner-content-inner
  display: flex

.text-content
  margin-right: -16%
  position: relative
  top: 0
  left: 0
  margin-top: 5%
  max-width: 400px

.img-content
  width: 80%

.banner-heading
  font-family: playfair_displaybold, $f_family_default
  font-size: 24px
  color: #0b0c11
  line-height: 1.2
  margin-bottom: 5px

.mark-text
  $letter_spacing: 3px
  font-family: poppinsregular, $f_family_default
  letter-spacing: $letter_spacing
  font-size: 11px
  color: $color_mark_text
  display: block
  text-transform: uppercase
  margin-bottom: 5px

// banner carousel navigation
.owl-nav
  position: absolute
  left: 40px
  bottom: 0

  & button
    display: inline-block

.banner-nav
  width: 30px
  height: 30px
  display: inline-block
  border-radius: 50%
  background-color: $color_mark_text
  vertical-align: middle
  position: relative

  img
    width: auto
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.banner-slide-counter
  $color_slide_counter: #262626
  font-family: poppinsregular, $f_family_default
  font-size: 11px
  font-weight: bold
  color: $color_slide_counter
  width: 50px
  display: inline-block
  vertical-align: middle
  padding: 0 5px

.slide-counter-mark
  $color_slide_counter_mark: $color_mark_text
  color: $color_slide_counter_mark

@mixin background-opacity($color, $opacity: 0.3)
  background: $color
  background: rgba($color, $opacity)

.disabled .banner-nav
  @include background-opacity($color_mark_text, 0.7)
  cursor: default

/* Info */
.hidden-heading
  visibility: hidden
  display: none
  width: 1px
  height: 1px
  font-size: 1px

.wrap-quote
  font-size: 20px
  color: $color_section_block
  text-align: center
  width: 75%
  max-width: 650px
  margin: 0 auto 10px
  position: relative

.quote
  font-family: playfair_displayregular, $f_family_default
  margin: 0 0 20px

.quote-author
  font-size: 11px
  text-transform: uppercase
  letter-spacing: $letter_spacing

.info-media
  margin-bottom: 20px

.info-media-inner
  position: relative

.info-media-video-link
  display: block

.info-media-video
  position: relative

.video-media
  width: 100%
  height: 100%
  border: none

.video-btn
  $bg_button: #5da8ef
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  background-color: $bg_button
  width: 68px
  height: 68px
  border-radius: 50%
  border: none
  outline: none
  display: none
  opacity: .7

  &::before
    content: ""
    width: 0
    height: 0
    border-style: solid
    border-width: 8px 0 8px 13px
    border-color: transparent transparent transparent #fff
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.info-media-inner:hover .video-btn,
.video-btn:focus
  opacity: 1

.video-enabled .info-media-inner
  cursor: pointer

.video-enabled .video-btn
  display: block

.wrap-img
  margin-bottom: 20px

.info-media-text
  color: $color_info_block

.btn-more
  $bg_link_underline: $bg_color_vertical_line
  color: $color_section_block
  font-size: 11px
  font-weight: bold
  text-transform: uppercase
  letter-spacing: $letter_spacing
  position: relative
  display: inline-block
  padding-bottom: 8px
  margin-bottom: 25px

  &::after
    content: ""
    width: 100%
    height: 2px
    background-color: $bg_link_underline
    position: absolute
    bottom: 0
    left: 0

/* Shop */
.heading-block
  width: 75%
  max-width: 650px
  margin: 0 auto
  text-align: center

.tagline
  $tagline_color: #5da8ef
  font-family: poppinsregular, $f_family_default
  font-size: 11px
  color: $tagline_color
  text-transform: uppercase
  letter-spacing: $letter_spacing
  display: inline-block
  margin-bottom: 5px

.heading
  $heading_color: $color_section_block
  font-family: playfair_displaybold, $f_family_default
  font-size: 30px
  color: $heading_color

.product
  position: relative

  &::before
    $product_bg_color: #e8e8e8
    content: ""
    position: absolute
    top: 38%
    right: 10%
    bottom: 0
    left: 10%
    background-color: $product_bg_color

  img
    position: relative
    right: 10%
    max-width: 240px
    margin: auto

.product-info
  position: absolute
  top: 45%
  right: 2px
  max-width: 150px

.product-title
  $color_product_title: #7a7a7a
  font-family: poppins_lightregular, $f_family_default
  font-size: 11px
  text-transform: uppercase
  letter-spacing: $letter_spacing
  color: $color_product_title
  margin-bottom: 2px

.product-name
  $color_product_name: #333
  font-family: playfair_displayregular, $f_family_default
  font-size: 21px
  color: $color_product_name
  margin-bottom: 15px

.product-price
  width: 60%
  min-width: 100px
  margin: 0 auto

.product-price-value
  $product_price_color: #ce60a8
  font-family: poppins_lightregular, $f_family_default
  font-size: 18px
  color: $product_price_color
  display: block
  margin-bottom: 5px

.procuct-buy-link
  $procuct_buy_color: #333
  font-family: poppinsregular, $f_family_default
  font-size: 12px
  color: $procuct_buy_color
  text-transform: uppercase
  display: inline-block

.shop-row-link
  text-align: center
  padding: 20px

/* Training */
.training-row
  margin-bottom: 35px

.training-heading
  position: relative

.page-heading
  $color_heading: $color_section_block
  font-family: playfair_displaybold, $f_family_default
  font-size: 30px
  color: $color_heading
  margin-bottom: .5em

.training-page-heading
  position: relative

  &::after
    $bg_color_underline: $bg_color_vertical_line
    content: ""
    width: .6em
    height: 2px
    background-color: $bg_color_underline
    position: absolute
    bottom: 3px
    left: 0

.bg-heading
  $color_heading_bgackground: #f9f9f9
  font-family: poppinsregular, $f_family_default
  font-size: 80px
  font-weight: bold
  line-height: 1
  color: $color_heading_bgackground
  position: absolute
  bottom: 0
  left: 0
  z-index: -1

.training-text
  $color_text: $color_info_block
  color: $color_text

/* Contacts */
.contacts-heading
  text-align: center
  width: 80%
  max-width: 600px
  margin: 0 auto

.contacts-text
  text-align: center

.subscribe-form
  width: 100%
  max-width: 600px
  margin: 0 auto 20px

.wrap-input
  position: relative

.input-field
  $bg_color_input: #f5f5f5
  width: 100%
  display: block
  background-color: $bg_color_input
  border: none
  padding: 18px 60px 18px 10px
  box-shadow: inset 1px 1px 2px 1px #efefef

.input-field::-webkit-input-placeholder
  font-size: 11px
  font-weight: bold
  text-transform: uppercase
  color: $color_placeholder
  letter-spacing: $letter_spacing

.input-field::-moz-placeholder
  font-size: 11px
  font-weight: bold
  text-transform: uppercase
  color: $color_placeholder
  letter-spacing: $letter_spacing

.input-field:-ms-input-placeholder
  font-size: 11px
  font-weight: bold
  text-transform: uppercase
  color: $color_placeholder
  letter-spacing: $letter_spacing

.input-field:-moz-placeholder
  font-size: 11px
  font-weight: bold
  text-transform: uppercase
  color: $color_placeholder
  letter-spacing: $letter_spacing

input::-moz-placeholder
  opacity: 1

.btn-submit
  $bg_color_btn: $color_mark_text
  $color: #fff
  background-color: $bg_color_btn
  color: $color
  font-size: 24px
  text-align: center
  vertical-align: middle
  width: 50px
  height: 100%
  position: absolute
  top: 0
  right: 0
  bottom: 0
  cursor: pointer
  border: none
  opacity: .9

  &:hover
    opacity: 1

.address-img
  margin-bottom: 20px

.contacts-block-heading
  $color: #0b0c11
  font-family: poppins_lightregular, $f_family_default
  font-size: 10px
  font-weight: bold
  color: $color
  letter-spacing: $letter_spacing
  text-transform: uppercase
  margin-bottom: 20px

.address-content
  $color_address_content: $color_section_block
  font-family: playfair_displaybold, $f_family_default
  font-size: 18px
  font-style: normal
  color: $color_address_content
  display: block
  margin-bottom: 20px

  & span
    padding-left: 6%

.btn-contacts
  $color_btn_contacts: $color_mark_text
  font-family: poppins_lightregular, $f_family_default
  font-size: 10px
  font-weight: bold
  color: $color_btn_contacts
  letter-spacing: $letter_spacing
  text-transform: uppercase
  padding-bottom: 8px
  position: relative

  &::after
    content: ""
    width: 100%
    height: 2px
    background-color: $color_btn_contacts
    position: absolute
    bottom: 0
    left: 0

/* Footer */
.footer
  padding-top: 15px
  padding-bottom: 15px

.footer-logo
  width: 16px
  margin: 0 auto 20px

.footer-navigation
  margin: 0 auto 20px
  text-align: center

  li
    margin-bottom: 8px

  a
    $color_footer_link: #0b0c11
    font-size: 10px
    text-transform: uppercase
    color: $color_footer_link
    padding: 5px

.footer-social
  @include flex_s_around
  margin: 0 auto


/* Tablet */
@media screen and (min-width: 680px)
  .block-content
    @include flex_row_wrap
    @include flex_s_between

  .page-section
    margin-bottom: 50px

  .vertical-line
    height: 90px
    margin: 15px 0 50px

  // Banner
  .banner-heading
    font-size: 44px

  // Info
  .wrap-quote
    font-size: 26px

  .block-content-info
    justify-content: space-between
    flex-direction: row-reverse
    flex-wrap: nowrap

  .info-media-video
    left: 0
    width: 60%
    margin-left: -8%
    margin-top: 5%

  .info-media-img
    width: 50%

  .info-media-text
    padding: 20px 19% 20px 10%

  .btn-more
    margin-top: 35px

  // Training
  .training-row
    margin-bottom: 50px

  .top-row
    margin-bottom: 65px

    & .block-content
      justify-content: space-between

  .training-text-block
    width: 40%
    padding: 35px 10px 5px 4%

  .training-img
    width: 55%

  .training-row-reverse

    & .block-content
      flex-direction: row-reverse
      justify-content: center

    & .training-img
      width: 40%

  // Contacts
  .address-block-content
    justify-content: space-between
    padding-right: 10px
    padding-left: 10px

  .address-img
    width: 47%

  .address-block
    width: 47%
    padding-top: 5%

  /* Footer */
  .footer
    .block-content
      display: block

  .footer-navigation,
  .footer-social
    @include flex_row_wrap
    justify-content: center

    li
      margin: 0 20px


/* Desktop */
@media screen and (min-width: 980px)
  .block-content
    justify-content: flex-start
    padding-right: 50px
    padding-left: 70px

  // Header
  .wrap-header-logo
    flex-basis: 20%

  .header-navigation
    flex-basis: 70%

  .nav-btn
    display: none

  .nav-list
    position: static
    text-align: left
    padding: 0

    & li
      display: inline-block

  // Info
  .heading
    font-size: 42px

  // Training
  .training-text-block
    padding-top: 52px

  .page-heading
    font-size: 42px

  .bg-heading
    font-size: 120px

  // Contacts
  .address-block-content
    justify-content: space-between
    padding-right: 10px
    padding-left: 10px

  .address-content
    font-size: 28px