/* Top Block */

.about-smart__top-block {
  margin-bottom: 45px;
}

@media (width >= 480px) {
  .about-smart__top-block {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
  }
}

/* Title */

.about-smart__title {
  padding-bottom: 40px;
  position: relative;
}

@media (width >= 480px) {
  .about-smart__title {
    flex-basis: 45%;
    padding-right: 4%;
    padding-bottom: 0;
  }
}

.about-smart__list_heading {
  margin-bottom: 15px;
}

.about-smart__list_heading--payouts {
  color: var(--basic-tomato);
}

.about-smart__list_heading--effect {
  color: var(--basic-blue);
}

.about-smart__list_heading--rewards {
  color: var(--basic-green);
}

/* Title line */

.about-smart__title::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--special-gray);
  position: absolute;
  bottom: 20px;
  left: 0;
}

@media (width >= 480px) {
  .about-smart__title::before {
    width: 1px;
    height: 100%;
    top: 0;
    right: 0;
    left: unset;
  }
}

/* Slogan */

@media (width >= 480px) {
  .about-smart__slogan {
    flex-basis: 45%;
    padding-left: 4%;
  }
}

/* List */

.about-smart__list {
  text-align: center;
}

@media (width >= 720px) {
  .about-smart__list {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4%;
  }
}

@media (width >= 780px) {
  .about-smart__list {
    grid-gap: 8%;
  }
}

/* Item */

.about-smart__item {
  margin-bottom: 45px;
}

/* Item ico */

.about-smart__item::before {
  content: "";
  background-repeat: no-repeat;
  width: 91px;
  height: 91px;
  display: block;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
}

@media (width >= 720px) {
  .about-smart__item::before {
    margin-right: unset;
    margin-left: unset;
  }
}

.about-smart__item--payouts::before {
  background: url(../img/ico-about-smart-1.png);
}

.about-smart__item--effect::before {
  background: url(../img/ico-about-smart-2.png);
}

.about-smart__item--reward::before {
  background: url(../img/ico-about-smart-3.png);
}
