/* Section */

.faq {
  padding-bottom: 100px;
  margin-bottom: 0;
  border-bottom: 1px solid var(--extra-gray);
}

@media (width <= 480px) {
  .faq {
    padding-bottom: 50px;
  }
}

/* Title */

.faq__title {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

@media (width >= 720px) {
  .faq__title {
    max-width: 51%;
  }
}

/* Slogan */

.faq__slogan {
  text-align: center;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
}

@media (width >= 720px) {
  .faq__slogan {
    max-width: 56%;
    margin-bottom: 75px;
  }
}

/* Item */

.faq__item {
  background-color: var(--dark-gray);
  padding: 3em 3.5em 3em 3em;
  margin-bottom: 10px;
  position: relative;
  transition: all .2s;
}

@media (width <= 480px) {
  .faq__item {
    padding: 1.5em 2.3em 1.5em 1.5em;
  }
}

.faq__item--open {
  background-color: var(--special-light-gray);
}

/* Heading */

.faq__heading {
  font-size: 20px;
  font-weight: 600;
  color: var(--special-blue);
  transition: all .3s;
}

.question__heading {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  display: block;
}

.faq__item--open .faq__heading {
  padding-bottom: 35px;
}

@media (width <= 480px) {
  .faq__heading {
    font-size: 18px;
  }

  .faq__item--open .faq__heading {
    padding-bottom: 20px;
  }
}

/* Text */

.faq__text {
  max-height: 0;
  overflow: hidden;
  transition: all .3s;
}

/* Cross */

.question__btn-open {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  right: .8em;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.question__btn-open::before,
.question__btn-open::after {
  content: "";
  background-color: var(--special-blue);
  position: absolute;
}

.question__btn-open::before {
  width: 2px;
  height: calc(100% - 8px);
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity .1s;
}

.question__btn-open::after {
  width: calc(100% - 8px);
  height: 2px;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
}

.faq__item--open .question__btn-open::before {
  opacity: 0;
}

@media (width <= 480px) {
  .question__btn-open {
    right: .3em;
  }

  .question__btn-open::before {
    height: calc(100% - 16px);
    top: 8px;
  }

  .question__btn-open::after {
    width: calc(100% - 16px);
    left: 8px;
  }
}
