.page {
  font-family: "Poppins";
  line-height: 1.2;
  color: var(--basic-gray);
}

.page--open {
  overflow: hidden;
}

/* Section Title */

.section-title {
  font-size: 36px;
  font-weight: 600;
  color: var(--special-blue);
}
