/* Page */

.page {
  font-family: "Poppins";
  line-height: 1.2;
  color: var(--basic-gray);
}

.page--open {
  overflow: hidden;
}

/* Section */

.page-section {
  margin-bottom: 70px;
}

@media (width >= 780px) {
  .page-section {
    margin-bottom: 110px;
  }
}

/* Section Title */

.section-title {
  font-size: 22px;
  font-weight: 600;
  color: var(--special-blue);
  margin-bottom: 15px;
}

@media (width >= 640px) {
  .section-title {
    font-size: 36px;
  }
}

/* Section slogan */

.section-slogan {
  margin-bottom: 15px;
}

/* Block heading */

.block-heading {
  margin-bottom: 15px;
}
