/* Inner */

.planning__inner {
  text-align: center;
  display: grid;
}

@media (width >= 680px) {
  .planning__inner {
    grid-template-columns: 55% 45%;
    justify-content: space-between;
    text-align: left;
  }
}

/* Title */

.planning__title {
  max-width: 430px;
}

/* Slogan */

.planning__slogan {
  max-width: 450px;
}

/* List */

.planning__list {
  display: grid;
}

@media (width >= 860px) {
  .planning__list {
    grid-template-columns: 1fr 1fr;
    grid-gap: 8%;
    margin-bottom: 25px;
  }
}

/* Item */

.planning__item {
  margin-bottom: 45px;
}

.planning__item::before {
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
}

@media (width >= 680px) {
  .planning__item::before {
    margin-right: 0;
    margin-left: 0;
  }
}

.planning__development::before {
  background-position: -121px -233px;
}

.planning__ux::before {
  background-position: -10px -233px;
}

.planning__cloud::before {
  background-position: -343px -10px;
}

.planning__support::before {
  background-position: -343px -121px;
}

/* Button */

@media (width < 860px) {
  .planning__button {
    margin-bottom: 50px;
  }
}

/* Image block */

.planning__image-block {
  max-width: 300px;
  margin: auto;
}

@media (width >= 680px) {
  .planning__image-block {
    max-width: 100%;
    margin: 0;
  }
}
