<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title AXIT
  body
    //- Header
    include ../includes/header.pug

    main
      //- Features section
      include ../includes/features.pug

      //- About section
      include ../includes/about.pug

      //- Pricing section
      include ../includes/pricing.pug

      //- Reviews section
      include ../includes/reviews.pug

      //- Content banner section
      include ../includes/content-banner.pug

      //- Contact section
      include ../includes/contact.pug

    //- Footer
    include ../includes/footer.pug

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    link(rel="stylesheet", href="css/libs.min.css")
    link(rel="stylesheet", href="css/main.min.css")

    <!--[if lte IE 9]>
      link(rel="stylesheet", href="css/ie/ie9.min.css")
    <![endif]-->

    script(src="js/all.min.js")