<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title AXIT
  body
    //- Header
    include ../includes/header.pug

    main
      //- Features section
      include ../includes/features.pug

      //- About section
      include ../includes/about.pug

      //- Pricing section
      include ../includes/pricing.pug

      //- Reviews section
      include ../includes/reviews.pug

      //- Content banner section
      include ../includes/content-banner.pug

      //- Contact section
      include ../includes/contact.pug

    //- Footer
    include ../includes/footer.pug

    link(rel="stylesheet", href="css/all.min.css")

    script(src="js/all.min.js")