section.about-section#about-section
  .about-container
    .about-row
      .about-section-content
        .section-heading-block
          h2.section-heading.section-block-heading WHY THIS IS AWESOME
          em.section-heading-block-slogan Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        ul.about-content-list
          li.about-content-item
            .about-item-ico
              span.icon-lightbulb
            h3.about-item-heading Thoughtful Design
            .about-item-text
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.
          li.about-content-item
            .about-item-ico
              span.icon-keyboard
            h3.about-item-heading Well Crafted
            .about-item-text
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.
          li.about-content-item
            .about-item-ico
              span.icon-flash
            h3.about-item-heading Easy to Customize
            .about-item-text
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra.
