section.contact-section#contact-section
  .contact-container
    .contact-row
      .contact-section-content
        .section-heading-block
          h2.section-heading.section-block-heading WHY THIS IS AWESOME
          em.section-heading-block-slogan Lorem ipsum dolor sit amet, consectetur adipiscing elit.