section.content-banner-section
  .content-banner-container
    .content-banner-row
      .section-heading-block
        h2.section-heading.section-block-heading.content-banner-heading STYLISH AXURE DESIGN
        em.content-banner-slogan Use the sections you need, remove the ones you don't. Create gorgeous prototypes faster than ever!
      .wr-btn
        a(href="#" download).btn-section.btn-banner Download