section.features-section#features-section
  //- Tabs
  .features-block.section-mark
    .features-container
      .features-row
        ul.features-tabs
          li.tab-label
            a(href="").tab-label-link Tab 1
          li.tab-label
            a(href="").tab-label-link Tab 2
          li.tab-label
            a(href="").tab-label-link Tab 3

        .features-tabs-block
          .tab-content
            .tab-block.tab-block-image
              picture
                source(srcset="img/img-tab-block-1.webp", type="image/webp")
                img(src="img/img-tab-block-1.png", alt="Image Tab 1")
            .tab-block
              h3.block-heading Tabs with soft transitioning effect.
              .block-text
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
              .wr-btn
                a(href="#" download).btn-section.btn-block Download
          .tab-content(style="display:none")
            .tab-block.tab-block-image
              picture
                source(srcset="img/img-tab-block-1.webp", type="image/webp")
                img(src="img/img-tab-block-1.png", alt="Image Tab 2")
            .tab-block
              h3.block-heading Tab 2
              .block-text
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
              .wr-btn
                a(href="#" download).btn-section.btn-block Download
          .tab-content(style="display:none")
            .tab-block.tab-block-image
              picture
                source(srcset="img/img-tab-block-1.webp", type="image/webp")
                img(src="img/img-tab-block-1.png", alt="Image Tab 3")
            .tab-block
              h3.block-heading Tab 3
              .block-text
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes.
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
              .wr-btn
                a(href="#" download).btn-section.btn-block Download

  .features-block
    .features-container
      .features-row
        .features-block-image
          picture
            source(srcset="img/img-features-1.webp", type="image/webp")
            img(src="img/img-features-1.jpg", alt="Feature image")
        .features-block-text
          h3.block-heading.sub-heading Sub list section
          .block-text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
            dl.block-text-description
              span.block-text-ico.icon-download-cloud
              dt.features-description-heading Title
              dd.features-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
            dl.block-text-description
              span.block-text-ico.icon-download-cloud
              dt.features-description-heading Title
              dd.features-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo..

  .features-block.section-mark
    .features-container
      .features-row.row-reverse
        .features-block-image
          picture
            source(srcset="img/img-features-2.webp", type="image/webp")
            img(src="img/img-features-2.jpg", alt="Feature image 2")
        .features-block-text
          h3.block-heading.sub-heading Standard Picture Section
          .block-text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
