section.pricing-section.section-mark#pricing-section
  .pricing-container
    .pricing-row
      .pricing-section-content
        .section-heading-block
          h2.section-heading.section-block-heading PRICING OPTIONS
          em.section-heading-block-slogan Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        ul.pricing-plans
          li.pricing-card
            .pricing-card-header
              h4.plan-name Basic
              em.plan-price $0
              span.plan-term Free for life
            ul.pricing-card-body
              li.pricing-card-info 1 gb of space
              li.pricing-card-info 10 gb of bandwidth
              li.pricing-card-info 3 websites
              li.pricing-card-info Basic Customization
              li.pricing-card-info wordpress integration
              li.pricing-card-info email support
          li.pricing-card
            .pricing-card-header
              h4.plan-name Professional
              em.plan-price $19
              span.plan-term Monthly Payment
              .plan-popular OUR MOST POPULAR
            ul.pricing-card-body
              li.pricing-card-info 5 gb of space
              li.pricing-card-info 50 gb of bandwidth
              li.pricing-card-info 12 websites
              li.pricing-card-info Advanced Customization
              li.pricing-card-info Wordpress integration
              li.pricing-card-info Email support
          li.pricing-card
            .pricing-card-header
              h4.plan-name Enterprise
              em.plan-price $70
              span.plan-term Monthly Payment
            ul.pricing-card-body
              li.pricing-card-info Unlimited space
              li.pricing-card-info Unlimited bandwidth
              li.pricing-card-info 100 websites
              li.pricing-card-info Advanced Customization
              li.pricing-card-info Wordpress integration
              li.pricing-card-info 24/7 customer support

