section.banner.page-section
  .banner-container
    .banner-row
      .block-content.wrap-slogan
        span.vertical-slogan First Surfing Magazine
        .carousel-contain
          .banner-carousel.owl-carousel.banner-owl-carousel
            .banner-content-inner
              .text-content
                h1.banner-heading <span class="mark-text">Your&nbsp;</span>Beautiful Escape
                p.bg-mark One of the greatest things about the sport of surfing is that you need only three things: your body, a surfboard, and a wave.

              .img-content
                picture
                  source(srcset="img/img-banner-1.webp", type="image/webp")
                  img(src="img/img-banner-1.jpg", alt="Beautiful Escape")

            .banner-content-inner
              .text-content
                h1.banner-heading <span class="mark-text">Your&nbsp;</span>Beautiful Escape
                p.bg-mark One of the greatest things about the sport of surfing is that you need only three things: your body, a surfboard, and a wave.

              .img-content
                picture
                  source(srcset="img/img-banner-1.webp", type="image/webp")
                  img(src="img/img-banner-1.jpg", alt="Beautiful Escape")
            .banner-content-inner
              .text-content
                h1.banner-heading <span class="mark-text">Your&nbsp;</span>Beautiful Escape
                p.bg-mark One of the greatest things about the sport of surfing is that you need only three things: your body, a surfboard, and a wave.

              .img-content
                picture
                  source(srcset="img/img-banner-1.webp", type="image/webp")
                  img(src="img/img-banner-1.jpg", alt="Beautiful Escape")
