section.banner.page-section
  .banner-container
    .banner-row
      .banner-carousel.owl-carousel.banner-owl-carousel
        .block-content
          .banner-content-inner
            .text-content
              h1.banner-heading <span class="mark-text">Your&nbsp;</span>Beautiful Escape
              p One of the greatest things about the sport of surfing is that you need only three things: your body, a surfboard, and a wave.

            .img-content
              picture
                source(srcset="img/img-banner-1.webp", type="image/webp")
                img(src="img/img-banner-1.jpg", alt="Beautiful Escape")

        .block-content
          .banner-content-inner
            .text-content
              h1.banner-heading <span class="mark-text">Your&nbsp;</span>Beautiful Escape
              p One of the greatest things about the sport of surfing is that you need only three things: your body, a surfboard, and a wave.

            .img-content
              picture
                source(srcset="img/img-banner-1.webp", type="image/webp")
                img(src="img/img-banner-1.jpg", alt="Beautiful Escape")
