footer.footer
  .footer-container
    .footer-row
      .block-content
        .footer-logo.scroll-top
          a(href="#home")
            img(src="img/logo.png", alt="Logo")

    .footer-row
      .block-content
        ul.footer-navigation.anchor-link-navigation
          li
            a(href="#stories") Stories
          li
            a(href="#events") Events
          li
            a(href="#places") Places
          li
            a(href="#boards") Boards

    .footer-row
      .block-content
        ul.footer-social
          li
            a(href="https://www.tumblr.com/", target="_blank")
              img(src="img/ico-tumblr.png", alt="tumblr")
          li
            a(href="https://twitter.com/", target="_blank")
              img(src="img/ico-twitter.png", alt="twitter")
          li
            a(href="https://vimeo.com/", target="_blank")
              img(src="img/ico-vimeo.png", alt="vimeo")