header.header
  .header-container
    .header-row
      .block-content
        .wrap-header-logo
          strong.header-logo.scroll-top
            a(href="#home")
              img(src="../img/logo.png", alt="Surfboards")

        nav(role="navigation").header-navigation
          a(href="#").nav-btn
          ul.nav-list#main-menu.anchor-link-navigation
            li
              a(href="#stories").nav-list-link Stories
            li
              a(href="#events").nav-list-link Events
            li
              a(href="#places").nav-list-link Places
            li
              a(href="#boards").nav-list-link Boards
