header.header
  .header-container
    .header-row
      .block-content
        .wrap-header-logo
          strong.header-logo
            a(href="#home")
              img(src="../img/header-logo.png", alt="Surfboards")

        nav(role="navigation").header-navigation
          a(href="#").nav-btn
          ul.nav-list
            li
              a(href="#").nav-list-link Stories
            li
              a(href="#").nav-list-link Events
            li
              a(href="#").nav-list-link Places
            li
              a(href="#").nav-list-link Boards
