section.info.page-section#stories
  h6.hidden-heading Surfing info
  .info-container
    .info-row
      .block-content
        .wrap-quote
          blockquote.quote
            p Surfing is the most blissful experience you can have on this planet, a taste of heaven.
          p.quote-author John McCarthy

    .info-row
      .vertical-line

    .info-row
      .block-content.block-content-info
        .info-media.info-media-video
          .info-media-inner
            a(href="https://www.youtube.com/watch?v=xU3iCjnlqx8").info-media-video-link
              picture
                source(srcset="https://i.ytimg.com/vi_webp/xU3iCjnlqx8/maxresdefault.webp", type="image/webp")
                img(src="https://i.ytimg.com/vi/xU3iCjnlqx8/maxresdefault.jpg", alt="Wave").video-media
            button(type="button", aria-label="Start video").video-btn

        .info-media.info-media-img
          .wrap-img
            picture
              source(srcset="img/img-info-1.webp", type="image/webp")
              img(src="img/img-info-1.jpg", alt="Surfer")
          .info-media-text
            p By better understanding the various aspects of surfing, you will improve faster and have more fun in the water.
            a(href="#read_more", target="_blank").btn-more Read More
