section.shop.page-section#boards
  .shop-container
    .shop-row
      .heading-block
        span.tagline Shop
        h2.heading Surfboards
    .shop-row
      .block-content.owl-carousel.shop-owl-carousel
        .product
          img(src="img/img-chilli-rare-bird.png", alt="Chilli Rare Bird")
          .product-info
            h3.product-title Funboards
            h3.product-name Chilli Rare Bird
            .product-price
              span.product-price-value $890
              a(href="#buy").procuct-buy-link Buy
        .product
          img(src="img/img-emery-nem-xf.png", alt="Emery NEM XF")
          .product-info
            h3.product-title Surfboards
            h3.product-name Emery NEM XF
            .product-price
              span.product-price-value $950
              a(href="#buy").procuct-buy-link Buy
        .product
          img(src="img/img-agency-grom.png", alt="Agency GROM")
          .product-info
            h3.product-title Funboards
            h3.product-name Agency GROM
            .product-price
              span.product-price-value $670
              a(href="#buy").procuct-buy-link Buy

    .shop-row.shop-row-link
      a(href="#shop", target="_blank").btn-more Show all