section.info
  .info-container
    .info-row
      .heading-block
        span.tagline Shop
        h2.heading Surfboards
    .info-row
      .block-content.owl-carousel.shop-owl-carousel
        .div item 01
        .div item 02
        .div item 03