section.training.page-section#events
  .training-container
    .training-row.top-row
      .block-content
        .training-text-block
          .training-heading
            h2.page-heading.training-page-heading Surf Training
            span.bg-heading 01
          .training-text
            p By better understanding the various aspects of surfing, you will improve faster and have more fun in the water
          a(href="#read-more").btn-more Read More

        .training-img
          picture
            source(srcset="img/img-training-1.webp", type="image/webp")
            img(src="img/img-training-1.jpeg", alt="Surf Training")

    .training-row.training-row-reverse
      .block-content
        .training-text-block
          .training-heading
            h2.page-heading.training-page-heading Point Break
            span.bg-heading 02
          .training-text
            p By better understanding the various aspects of surfing, By better understanding the various aspects of surfing, you will improve faster and have more fun in the water.
          a(href="#read-more").btn-more Read More

        .training-img
          picture
            source(srcset="img/img-training-2.webp", type="image/webp")
            img(src="img/img-training-2.jpeg", alt="Surf Training")

    .training-row
      .vertical-line