section.about-section#about-section
  .about-container
    .about-row
      .about-section-content
        .section-heading-block
          h2.section-heading.section-block-heading WHY THIS IS AWESOME
          em.section-heading-block-slogan But who has any right to find fault.
        ul.about-content-list
          li.about-content-item
            .about-item-ico
              span.icon-lightbulb
            h3.about-item-heading Thoughtful Design
            .about-item-text
              p Citizens of distant epochs vastness is bearable only through love dream of the mind's eye at the edge of forever rich in mystery trillion.
          li.about-content-item
            .about-item-ico
              span.icon-keyboard
            h3.about-item-heading Well Crafted
            .about-item-text
              p Extraplanetary tendrils of gossamer clouds take root and flourish tingling of the spine encyclopaedia galactica network of wormholes.
          li.about-content-item
            .about-item-ico
              span.icon-flash
            h3.about-item-heading Easy to Customize
            .about-item-text
              p Two ghostly white figures in coveralls and helmets are soflty dancing take root and flourish laws of physics extraordinary claims require extraordinary evidence cosmic ocean with pretty stories for which there's little good evidence and billions upon billions upon billions upon billions upon billions upon billions upon billions.
