section.contact-section#contact-section
  .contact-container
    .contact-row
      .section-heading-block
        h2.section-heading.section-block-heading CONTACT US
        em.section-heading-block-slogan Lorem ipsum dolor sit amet, consectetur adipiscing elit.

    .contact-row
      form(name="contact-form" action="#" method="get").contact-form
        fieldset.contact-form-fieldset
          .contact-form-content
            .contact-form-block
              input(type="text" name="contact-form-name" placeholder="Name").form-input-field.contact-form-input
              input(type="email" name="contact-form-email" placeholder="Email").form-input-field.contact-form-input
              input(type="text" name="contact-form-subject" placeholder="Subject").form-input-field.contact-form-input
            .contact-form-block
              textarea(name="contact-form-message" placeholder="Message").form-input-field.contact-form-msg
          .wr-contact-form-btn
            button(type="submit").btn-section.btn-block Send Message