section.content-banner-section
  .content-banner-container
    .content-banner-row
      .section-heading-block
        h2.section-heading.section-block-heading.content-banner-heading STYLISH AXURE DESIGN
        em.content-banner-slogan Culture globular star cluster the only home we've ever known paroxysm of global death another world courage of our questions.
      .wr-btn
        a(href="#" download).btn-section.btn-banner Download