footer.footer
  .footer-container
    .footer-row
      ul.social-icons.footer-social-icons
        li.soc-icon
          a.soc-icon-link(href="https://www.facebook.com" target="_blank")
            span.icon-facebook
        li.soc-icon
          a.soc-icon-link(href="https://twitter.com" target="_blank")
            span.icon-twitter
        li.soc-icon
          a.soc-icon-link(href="https://plus.google.com" target="_blank")
            span.icon-gplus
        li.soc-icon
          a.soc-icon-link(href="https://www.pinterest.com" target="_blank")
            span.icon-pinterest-circled
        li.soc-icon
          a.soc-icon-link(href="https://www.instagram.com" target="_blank")
            span.icon-instagram
        li.soc-icon
          a.soc-icon-link(href="https://www.stumbleupon.com" target="_blank")
            span.icon-stumbleupon
        li.soc-icon
          a.soc-icon-link(href="#" target="_blank")
            span.icon-rss

    .footer-row
      small.copyright &copy; 2019 Axure Themes