header.header
  //- Navbar
  .header-navbar
    .navbar-container
      .navbar-row
        //- Logo
        strong.header-logo
          a(href="#Logo")
            img(src="img/bg-logo.png", alt="AXIT")
        //- Navigation
        nav(role="navigation").header-navigation
          button.nav-btn
          ul.nav-list#main-menu
            li
              a(href="#features-section") Features
            li
              a(href="#about-section") About
            li
              a(href="#pricing-section") Pricing
            li
              a(href="#reviews-section") Reviews
            li
              a(href="#contact-section") Contact

  //- Banner
  .header-banner
    .banner-container
      .banner-row
        //- Banner content
        .banner-content
          strong.banner-logo
            img(src="img/bg-logo.png", alt="AXIT")
          h1.section-heading.header-banner-heading MODERN AXURE TEMPLATE FOR BEAUTIFUL PROTOTYPES
          .banner-text
            p Vanquish the impossible astonishment another world something incredible is waiting to be known a billion trillion galaxies.
          .wr-btn
            a(href="#" download).btn-section.btn-banner Download
        //- Banner form
        .banner-form
          form(name="get-started" action="#" method="post").banner-form
            fieldset.banner-form-fieldset
              legend.form-heading Try Your <span class="form-heading-mark">FREE</span> Trial Today
              input(type="text" name="user-name" placeholder="Name" required).form-input-field.banner-form-input
              input(type="email" name="user-email" placeholder="Email" required).form-input-field.banner-form-input
              input(type="password" name="user-password" placeholder="Password" required).form-input-field.banner-form-input
              button(type="submit").banner-form-btn Get Started

  //- Social
  .header-social
    .social-container
      .social-row
        .social-text
          h3.social-heading Social Media
          p Rich in mystery courage of our questions the ash of stellar alchemy the only home we've ever known invent the universe from which we spring.
        ul.social-icons.banner-social-icons
          li.soc-icon
            a.soc-icon-link(href="https://www.facebook.com" target="_blank")
              span.icon-facebook
          li.soc-icon
            a.soc-icon-link(href="https://twitter.com" target="_blank")
              span.icon-twitter
          li.soc-icon
            a.soc-icon-link(href="https://plus.google.com" target="_blank")
              span.icon-gplus
          li.soc-icon
            a.soc-icon-link(href="https://www.pinterest.com" target="_blank")
              span.icon-pinterest-circled
          li.soc-icon
            a.soc-icon-link(href="https://www.instagram.com" target="_blank")
              span.icon-instagram
          li.soc-icon
            a.soc-icon-link(href="https://www.stumbleupon.com" target="_blank")
              span.icon-stumbleupon
          li.soc-icon
            a.soc-icon-link(href="#" target="_blank")
              span.icon-rss
