section.reviews-section#reviews-section
  .reviews-container
    .reviews-row
      .reviews-section-content
        .section-heading-block
          h2.section-heading.section-block-heading WHAT OUR CUSTOMERS ARE SAYING
          em.section-heading-block-slogan Flatland the carbon in our apple pies tingling of the spine Hypatia brain is the seed of intelligence explorations.
        ul.reviews-block.owl-carousel
          li.reviews-block-item
            .user-comment
              p Lately, I’ve been reflecting on some of the language I use to talk about accessibility. It might be language you use, too.
            .user-info
              .user-avatar
                picture
                  source(srcset="img/img-user-avatar-1.webp", type="image/webp")
                  img(src="img/img-user-avatar-1.jpg", alt="William S.")
              .block-user-name
                em.user-name William S.
                span.user-position Manager
          li.reviews-block-item
            .user-comment
              p The first level of reality is that nitty-gritty stuff, the direct action and immediate experience, the sort of thing I like to call vernacular reality.
            .user-info
              .user-avatar
                picture
                  source(srcset="img/img-user-avatar-2.webp", type="image/webp")
                  img(src="img/img-user-avatar-2.jpg", alt="Samantha A.")
              .block-user-name
                em.user-name Samantha A.
                span.user-position Designer
          li.reviews-block-item
            .user-comment
              p On a friend’s recommendation, I bought a Tom Bihn backpack for traveling. I really like it.
            .user-info
              .user-avatar
                picture
                  source(srcset="img/img-user-avatar-3.webp", type="image/webp")
                  img(src="img/img-user-avatar-3.jpg", alt="Ethan M.")
              .block-user-name
                em.user-name Ethan M.
                span.user-position Graphic Designer