section.reviews-section#reviews-section
  .reviews-container
    .reviews-row
      .reviews-section-content
        .section-heading-block
          h2.section-heading.section-block-heading WHAT OUR CUSTOMERS ARE SAYING
          em.section-heading-block-slogan Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        ul.reviews-block
          li.reviews-block-item
            .user-comment
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus accusamus expedita repellat similique odio aspernatur ex, architecto eaque quo suscipit.
            .user-info
              .user-avatar
                picture
                  source(srcset="img/img-user-avatar-1.webp", type="image/webp")
                  img(src="img/img-user-avatar-1.jpg", alt="Jeremy H.")
              .block-user-name
                em.user-name Jeremy H.
                span.user-position Manager