/* open-sans-regular - latin */

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/open-sans-v18-latin-regular.woff2") format("woff2");
}

/* open-sans-700 - latin */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/open-sans-v18-latin-700.woff2') format('woff2');
}

/* bebas-neue-regular - latin */

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/bebas-neue-v2-latin-regular.woff2') format('woff2');
}
