/* Banner */

.banner {
  margin-bottom: 60px;
}

@media (width >= 760px) {
  .banner {
    margin-bottom: 120px;
  }
}

/* Slider */

@media (width >= 760px) {
  .banner__slide {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
  }
}

/* Image block */

.banner__image-block {
  position: relative;
  margin-bottom: 30px;
}

@media (width >= 760px) {
  .banner__image-block {
    margin-bottom: 0;
  }
}

/* Link */

.banner__link-more {
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (width >= 760px) {
  .banner__link-more {
    padding: 25px 35px;
  }
}

/* Slider controls */

@media (width >= 760px) {
  .banner__controls {
    position: absolute;
    bottom: 50px;
    left: 0;
  }
}

/* Counter */

.banner__counter {
  margin-top: 50px;
}
