/**
 * Fonts
 */

@mixin font-face($family, $filename, $folder, $style, $weight, $f_display_value) {
  @font-face {
    font-family: $family;
    src: url("../#{$folder}/#{$filename}.woff") format("woff"),
      url("../#{$folder}/#{$filename}.woff2") format("woff2");
    font-style: $style;
    font-weight: $weight;
    font-display: $f_display_value;
  }
}

@include font-face("montserrat_bold", "montserrat-bold", "fonts", normal, normal, swap);
@include font-face("montserrat_regular", "montserrat-regular", "fonts", normal, normal, swap);
@include font-face("montserrat_light", "montserrat-light", "fonts", normal, normal, swap);
