/* Variables */

$max_width: 1770px;

$f_family_default: Arial, Helvetica, sans-serif;
$f_size: 14px;
$f_size_input_placeholder: 13px;

$line_height: 1.3;

$color_default: #000;
$color_header_top: #999;
$color_placeholder: #989898;

$bg_color_default: #fff;
$bg_header_top: #333;
$bg_banner_home: #f8f8f8;

/* Mixins */

@mixin flex_row_wrap {
  display: flex;
  flex-flow: row wrap;
}

@mixin flex_space_between {
  @include flex_row_wrap;
  justify-content: space-between;
}

@mixin visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
