/* Header */

.header {
  background: #72572a url(img/bg-header-banner.jpg) center / cover no-repeat;
}

.header__inner {
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;
}

.header__top {
  position: relative;
  display: grid;
  grid-template-columns: 55px 1fr 48px;
  grid-gap: 22px;
  justify-items: flex-end;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (width >= 870px) {
  .header__top {
    position: static;
    grid-template-columns: 55px 1fr 65px 70px;
  }
}

/* Logo */

.logo,
.logo__link {
  display: inline-block;
}

/* Languages */

.lang {
  position: relative;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
}

@media (width >= 870px) {
  .lang {
    padding: 0;
  }
}

.lang::after {
  content: "";
  width: 1px;
  height: 100%;
  background-color: var(--basic-white);
  position: absolute;
  top: 0;
  right: -10px;
}

/* Languages button */

.lang__button {
  font-size: 12px;
  font-weight: 700;
  color: var(--basic-white);
  letter-spacing: .1em;
  text-transform: uppercase;
  background: transparent;
  border: none;
  padding-top: 3px;
  padding-right: 20px;
  padding-bottom: 3px;
  padding-left: 3px;
  margin: 0;
  position: relative;
  cursor: pointer;
  transition: color .2s;
}

.lang__button:hover {
  color: var(--basic-yellow);
}

.lang__button::before {
  content: "";
  background: url(img/ico-lang-menu.svg) no-repeat;
  width: 10px;
  height: 6px;
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%) rotate(0);
}

.lang__button--open {
  color: var(--basic-yellow);
}

.lang__button--open.lang__button::before {
  transform: translateY(-50%) rotate(180deg);
}

/* List */

.lang__list {
  display: none;
  width: 100%;
  position: absolute;
  top: 35px;
  left: 0;
  background-color: var(--basic-black);
  padding: 10px;
  border-radius: 3px;
}

.lang__list--open {
  display: block;
}

/* Link */

.lang__link {
  font-size: 12px;
  font-weight: 700;
  color: var(--basic-white);
  letter-spacing: .1em;
  text-transform: uppercase;
}

.lang__link:hover {
  color: var(--basic-yellow);
}

.lang__link:focus {
  color: var(--basic-yellow);
}

/* Platforms */

.platforms {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 5px;
  justify-content: flex-start;
  display: none;
}

.platforms__icon {
  fill: #ffb548;
  transition: all .2s;
}

.platforms__link:hover .platforms__icon,
.platforms__link:focus .platforms__icon {
  fill: #ffd392;
}

@media (width >= 870px) {
  .platforms {
    display: block;
  }
}

/* Scroll link */

.header__scroll-link {
  font-size: 12px;
  font-weight: 700;
  color: var(--basic-white);
  text-transform: uppercase;
  padding-bottom: 17px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  transition: color .2s;
}

.header__scroll-link:hover,
.header__scroll-link:focus {
  color: var(--basic-yellow);
}

.header__scroll-icon {
  stroke: var(--basic-white);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all .2s;
}

.header__scroll-link:hover .header__scroll-icon,
.header__scroll-link:focus .header__scroll-icon {
  stroke: var(--basic-yellow);
}
