<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ave</title>
  <link rel="stylesheet" href="css/libs/libs.min.css">
  <link rel="stylesheet" href="css/main.min.css">
</head>

<body>

  <!-- Header -->
  //= ../includes/header.html
  <!-- Header end -->

  <!-- Home page tabs -->
  <section class="tabs-section">
    <div class="container">
      <div class="row">
        <ul class="tabs-navigation">
          <li class="tabs-navigation__item"><a href="#popular" class="tabs-navigation__link active">Popular</a></li>
          <li class="tabs-navigation__item"><a href="#new_arrivals" class="tabs-navigation__link">New arrivals</a></li>
          <li class="tabs-navigation__item"><a href="#best_sellers" class="tabs-navigation__link">Best sellers</a></li>
          <li class="tabs-navigation__item"><a href="#special_offers" class="tabs-navigation__link">Special offers</a>
          </li>
          <li class="tabs-navigation__item"><a href="#comming_soon" class="tabs-navigation__link">Comming soon</a></li>
        </ul>
      </div>

      <div class="row">
        <div class="tabs-content">
          <div class="tabs-content__inner">
            <div class="products-col">

              <div class="products-row products-row-flex">
                <div class="products-col__item">
                  <a href="#" class="product">
                    <span class="price"><span class="price__currency">&pound;</span><span
                        class="price__cost">23</span></span>
                    <picture>
                      <source srcset="img/img-product.webp" type="image/webp">
                      <img src="img/img-product.jpg" alt="Product">
                    </picture>
                    <div class="product__info">
                      <h4 class="product__heading">Womens burnt orange casual tee &pound;29.95</h4>
                      <p>Classic casual t-shirt for women on the move. 100% cotton.</p>
                    </div>
                  </a>
                </div>
                <div class="products-col__item">
                  <a href="#" class="product">
                    <span class="price"><span class="price__currency">&pound;</span><span
                        class="price__cost">23</span></span>
                    <picture>
                      <source srcset="img/img-product.webp" type="image/webp">
                      <img src="img/img-product.jpg" alt="Product">
                    </picture>
                  </a>
                </div>
              </div>

              <div class="products-row">
                <div class="products-col__item">
                  <a href="#" class="product">
                    <span class="price"><span class="price__currency">&pound;</span><span
                        class="price__cost">23</span></span>
                    <picture>
                      <source srcset="img/img-product.webp" type="image/webp">
                      <img src="img/img-product.jpg" alt="Product">
                    </picture>
                  </a>
                </div>
              </div>
            </div>

            <div class="products-col">
              <div class="products-row products-row-flex">
                <div class="products-col__item">
                  <a href="#" class="product">
                    <span class="price"><span class="price__currency">&pound;</span><span
                        class="price__cost">23</span></span>
                    <picture>
                      <source srcset="img/img-product.webp" type="image/webp">
                      <img src="img/img-product.jpg" alt="Product">
                    </picture>
                  </a>
                </div>
                <div class="products-col__item">
                  <a href="#" class="product">
                    <span class="price"><span class="price__currency">&pound;</span><span
                        class="price__cost">23</span></span>
                    <picture>
                      <source srcset="img/img-product.webp" type="image/webp">
                      <img src="img/img-product.jpg" alt="Product">
                    </picture>
                  </a>
                </div>
              </div>

              <div class="products-row">
                <div class="products-col__item">
                  <a href="#" class="product">
                    <span class="price"><span class="price__currency">&pound;</span><span
                        class="price__cost">23</span></span>
                    <picture>
                      <source srcset="img/img-product.webp" type="image/webp">
                      <img src="img/img-product.jpg" alt="Product">
                    </picture>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Home page tabs end -->

  <script src="js/main.js"></script>

</body>

</html>