/* About */

.about {
  position: relative;
  margin-bottom: 35px;
}

@media (width >= 760px) {
  .about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 50px;
  }
}

/* Text */

.about__text-block {
  font-size: 19px;
  line-height: 1.8;
}

@media (width >= 760px) {
  .about__text-block {
    font-size: 20px;
    order: 1;
  }
}

@media (width >= 860px) {
  .about__text-block {
    padding-right: 25%;
  }
}

/* Decoration */

.about__decoration {
  position: absolute;
  right: 0;
  bottom: 10%;
  width: 6vw;
}

@media (width <= 860px) {
  .about__decoration {
    display: none;
  }
}
